@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    
}

.main-container{
    
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;   
    align-items: flex-start; /* Align items at the start (top) of the container */
    
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.heading{
    text-align: center;
    margin-bottom: 30px;
   
    
}


.box{
    border: 5px solid black;
    border-radius: 10%;
    width: 80px;
    height: 80px;
    color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 32px;    
    text-align: center;
    line-height: 80px;
    user-select: none;
    
}

.box::after{
    content: attr(data-letter);
    color: transparent;
    
    
}

.title{
    margin-top: 80px;
    padding-top: 50px;
    text-align: center;
    font-size: 50px;
}

/* Submit Button */
.guess{
    width: 100px;
}

.submit {
    width: 65px; /* Set a width relative to the input field */
    height: 20px; /* Set a height relative to the input field */
    border-radius: 5px;
}

.transparent {
    color: transparent;
}

.hidden{
    color: transparent;
}

.output{
    width: 320px;
    height: 80px;
    
    margin: auto;
    color: red;
    font-size: 20px;
    text-align: center;
    
    
}

.reset{
    display: block;
    margin: 10px auto 0 auto;
    border-radius: 5px;
    
}

.correct{
    color: white;
    background-color: green;
}

.incorrect{
    
    background-color: red;
}

.green-letter{
    color: green;
}

.red-letter{
    color: red;
}