@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 40px 0;
    background-color: #1976d2;
    color: #fff;
    background-image: linear-gradient(to right, #1976d2, #2196f3);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    
}

footer {
    background-color: #1976d2;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

.summary{
    font-size: 18px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.background-container {
    padding: 40px 20px;
}


.container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 30px;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-between;

}

.selection {
    text-align: center;
    margin-bottom: 20px;
    flex: 1;
}

.player-stats,
.player-bio {
  flex: 1; /* Each flex item takes up equal space */
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px;
  min-height: 200px; /* Set minimum height for both flex items */
  min-height: 200px;
  display: none;
}


.player-stats h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.player-stats p {
    font-size: 16px;
    margin-bottom: 10px;
}

.player-bio {
    padding: 20px;
    border-radius: 12px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #333;
    
}

@media (max-width: 600px) {
  .container {
      flex-direction: column; /* Stack flex items vertically on smaller screens */
      align-items: center; /* Center align flex items vertically */
  }
  
  .player-stats,
  .player-bio {
      width: 100%; /* Make flex items full width on smaller screens */
  }
}


.selection {
    text-align: center;
    margin-bottom: 20px;
  
    
    
}

#player-select {
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    margin-bottom: 20px;
    text-align: left;
    


}
.player-stats{
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 12px;
  background-color: #2196f3;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #fff;
  width: 50%;
  }

  .player-stats h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .player-stats:hover {
    transform: scale(1.02);
  }

.player-stats p {
    font-size: 16px;
    margin-bottom: 10px;
   
  }

.pitching{
    margin-top: 30px;
}

.player-image {
    max-width: 150px;
    height: 150px;
    margin-bottom: 20px;
    display: block;
    margin: 0 auto 20px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    object-fit: cover;
    
  }

  .player-image:hover {
    transform: scale(1.05);
  }

  h1 {
    font-size: 32px;
    font-weight: 700;
  }
  
  h3 {
    font-size: 20px;
    font-weight: 600;
  }
  

  p {
    font-size: 16px;
  }

  header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #fff;
  }

/*this is the graphic under the dropdown */

.player-bio{
  padding: 20px;
  border-radius: 12px;
  background-color: #f0f0f0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #333;
  width: 50%;

}

.player-bio:hover{
  transform: scale(1.02);
}
